<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creative Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  
</head>
<body>
  <form  >
    <h1>Hotel City</h1>

    <!-- Image -->
    <div class="form-group input-container">
      <label for="image">Image URL</label>
      <i class="fas fa-image"></i>
      <input type="text" id="image" name="image" placeholder="Enter image URL">
    </div>

    <!-- Title de ville -->
    <div class="form-group input-container">
      <label for="titre1">Title_ville:</label>
      <i class="fas fa-heading"></i>
      <input type="text" id="titre1" placeholder="Enter le title de discription de la ville">
    </div>

    <!-- Description Ville -->
    <div class="form-group input-container">
      <label for="desc">Description_Ville:</label>
      <i class="fas fa-align-left"></i>
      <textarea id="desc" placeholder="Entrer description de la ville"></textarea>
    </div>

    <!-- Title hotel-->
    <div class="form-group input-container">
      <label for="titre2">Title_hotel:</label>
      <i class="fas fa-heading"></i>
      <input type="text" id="titre2" placeholder="Entrer le title des hotels de cette ville">
    </div>

    <!-- Hotels -->
    <!-- <div class="form-group input-container">
      <label for="hotels">Hotels:</label>
      <i class="fas fa-hotel"></i>
      <select id="hotel_ville" name="hotel_ville" multiple [(ngModel)]="selectedHotels">
  
    <option *ngFor="let hotel of hotels" [value]="hotel.id">
      {{ hotel.name }}
    </option>
  </select>

    </div> -->

    <!-- Question -->
    <div class="form-group input-container">
      <label for="ques">Question:</label>
      <i class="fas fa-question-circle"></i>
      <textarea id="ques" placeholder="Les Questions les plus fréquentes sur les hôtels de cette ville"></textarea>
    </div>

    <!-- Submit -->
    <input type="submit" value="Save">
  </form>
</body>
</html>



